version: "3.9"

services:
  postgres:
    image: postgres:16-alpine
    container_name: randlottery-postgres
    environment:
      POSTGRES_DB: rand_lottery
      POSTGRES_USER: rand
      POSTGRES_PASSWORD: randpass
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: randlottery-api
    env_file:
      - .env
    environment:
      - APP_ENV=development
      - APP_DEBUG=true
      - DATABASE_URL=postgresql+asyncpg://rand:randpass@postgres:5432/rand_lottery
      - CORS_ORIGINS=http://localhost:5173,http://localhost:8080,http://localhost:4173
    depends_on:
      - postgres
    ports:
      - "8000:8000"
    volumes:
       - ./:/app

volumes:
  pgdata:
